.idea/*
.vscode/*
__pycache__/*
backup_*
historical/
part1_submission/
part2_submission/
documentation/
*.toml
.DS_Store
*.iml
last_node_in_search.json
best_node_metadata.txt
best_node_network_graph.json 
best_node_transaction_list.csv
node_log.csv